/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    background-color: #0c0c0cf6;
    color: #fff;
    padding: .5%;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgb(100, 100, 100);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 4%
}

.logo {
    width: 3.5%; /* Adjust width as needed */
}

nav {
    margin-right: auto;
    margin-left: 1%;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center; /* Vertically center items in the navigation */
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 15px;
    font-weight: bold;
}

.hero {
    background-image: url('background.png');
    background-size: cover;
    text-align: center;
    padding: 10%;
    color: #fff;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f58220;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.features {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('background.png');
    background-size: cover;
    color: #fff;
}

.feature {
    flex: 1;
    text-align: center;
    padding: .1%;
}

.feature h2 {
    font-size: 24px;
    margin-bottom:1%;
} 

footer {
    background:  #000000;
    color: #fff;
    text-align: center;
    padding: 4%;
}

.homePagePic{
    width: 30%;
}