
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Orbitron", sans-serif;
}

body p{
    font-family: 'Roboto Slab', sans-serif;
}

header {
    position: fixed;
    background-color: #000000f6;
    color: #fff;
    padding: .5%;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgb(100, 100, 100);
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 4%
}

.logo {
    width: 3.5%; 
    cursor: pointer;
}

.logo:hover{
    transform: scale(105%);
    transition: all 150ms ease-in-out;
}

nav {
    margin-right: auto;
    margin-left: 1%;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center; 
}

nav li {
    text-decoration: none;
    color: #fff;
    margin: 15px;
    font-weight: bold;
    transition: all 150ms ease-in-out;
}

nav li:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
    border-radius: 100px;
    cursor: pointer;
}

.welcome {
    background-image: url('/Images/background.png');
    background-size: cover;
    text-align: center;
    padding: 10%;
    color: #fff;
    text-shadow: 0 0 10px rgb(100, 100, 100);
}

.welcome h1 {
    font-size: 36px;
    margin-bottom: 10px;
    text-shadow: 0 0 10px rgb(100, 100, 100);
}

.welcom h2{
    margin-top: 5%;
    margin-bottom: 5%;
}

.apod{
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)), url('/Images/background.png');
    background-size: cover;
    text-align: center;
    padding: 6%;
    color: #fff;
    
}

.apod h2{
    font-size: 45px;
    margin-bottom: -5%;
    text-shadow: 0 0 10px rgb(92, 79, 52);
    color: orange;
}

.exploreButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f5b220;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5%;
   
}

.exploreButton:hover{
    transform: scale(1.1) translateY(-10%);
    transition: all 150ms ease-in-out;
    box-shadow: 0px 0px 5px #f0bf55;
}

.features {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 1)), url('/Images/background.png');
    background-size: cover;
    color: #fff;
}

.graphSection{
    display: flex;
    justify-content: space-between;
    padding: 5%;
    background:  #000000;
    background-size: cover;
    color: #fff;
}


.homeFeature{
    flex: 1;
    text-align: center;
    padding: .1%;
    margin-inline: 1%;
    margin-bottom: auto;
    
}

.homeFeature h2 {
    font-size: 24px;
    margin-bottom:1%;
} 

.homeFeature h2:hover{
    transition: all 150ms ease-in-out;
    cursor: pointer;
    transform: scale(1.1);
    text-shadow: 0 0 10px #f5b220;
    color: #f5b220;
}

.feature {
    flex: 1;
    text-align: center;
    padding: .1%;
    margin-inline: 1%;
    margin-top: auto;
    margin-bottom: auto;
    border-left: 3px solid #FFD700; 
    padding-left: 20px; 
    margin-left: 20px; 
}

.feature h2 {
    font-size: 24px;
    margin-bottom:1%;
} 

.feature h2:hover{
    transition: all 150ms ease-in-out;
    cursor: pointer;
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.blogHeading {
    background-image: url('/Images/background.png');
    background-size: cover;
    text-align: center;
    padding: 10%;
    color: #fff;
}

.blogHeading h1 {
    font-size: 100px;
    font-weight: bold;
    text-shadow: 0 0 50px #363636;
}

.blogHeading p{
    margin-top: 5%;

}

.blogs {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 1)), url('/Images/background.png');
    background-size: cover;
    color: #fff;
    
}

.blogsRight {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .8)), url('/Images/background.png');
    background-size: cover;
    color: #fff;
    
}

.blogTitle {
    flex: 0.5;
    text-align: center;
    padding: .1%;
    margin-inline: 1%;
    margin-top: auto;
    margin-bottom: auto;
}

.blogTitle h2{
    font-size: 70px;
    margin-bottom:1%;
}

.blogTitle p{
    text-align: justify;
}

.blogs p{
    text-align: justify;
}
.blogsRight p{
    text-align: justify;
}

footer {
    background:  #000000;
    color: #fff;
    text-align: center;
    padding: 4%;
    justify-content: center;
    display: grid;
    grid-template-columns: 15% 15% 15%;
    gap: 0px;
}

.homePagePic{
    width: 30%;
}

.personalLogo{
    height: 75px;
}

.footerText:hover{
    cursor: pointer;
    transition: all 150ms ease-in-out;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.personalLogo:hover{
    cursor: pointer;
    transition: all 150ms ease-in-out;
    transform: scale(1.08);
}

  .aPOTD{
    box-shadow: 0 0 20px #131313;
  }

 .aPOTD:hover{
    box-shadow: 0 0 30px #131313;
    cursor: pointer;
 }

 .wireframe{
    width: 100%;
 }

 .blackColourBox {
    
    background-color: #000;
    width: 30px;
    height: 30px;
    border-color: #fff;
    float:left
}

.greycolourbox {
    display: inline-block;
    background-color: #ced4de;
    width: 30px;
    height: 30px;
    border-color: #fff;

}

.whiteColourBox {
    display: inline-block;
    background-color: #edf4ff;
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-color: #fff;

}

#colourText {
    display: inline-block;
}

.pageTitle{
    background-color: #000;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 36px;
    text-shadow: 0 0 10px rgb(100, 100, 100);
}

/* Style the slider track */
input[type="range"]::-webkit-slider-runnable-track {
    height: 8px;
    border-radius: 5px;
}


/* Style the slider thumb (handle) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -.6%; /* To center the thumb on the track */
}

#daySlider{
    accent-color: orange;
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
}

#tooltip{
    position: absolute;
    display: none;
    color: #fff;
    border-left: 1px solid orange; 
    border-top: 1px solid orange; 
    background: linear-gradient(to bottom right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.521) 100%);
    padding: 5px;
}

#loading{
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)), url('/Images/background.png');
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-block: 10%;
    text-shadow: 0 0 10px rgb(100, 100, 100);
}

.dataArtHeading {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('/Images/background.png');
    background-size: cover;
    text-align: center;
    padding-top: 10%;
    padding-inline: 10%;
    color: #fff;
}

.dataArtHeading h1 {
    font-size: 100px;
    font-weight: bold;
    text-shadow: 0 0 50px #363636;
}

.dataArtHeading h2 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0 0 50px #363636;
}

.dataArtHeading p{
    margin-top: 2.5%;
}

.dataArtwork {
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)), url('/Images/background.png');
    background-size: cover;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px rgb(100, 100, 100);
}

.dataArtwork h1 {
    font-size: 36px;
    margin-bottom: 10px;
    text-shadow: 0 0 10px rgb(100, 100, 100);
}

.dataArtwork h2{
    margin-top: 5%;
    margin-bottom: 5%;
}

.loadingImage{
    width: 25%;
}

.active-link {
    text-decoration: none;          /* Remove any existing underline */
    border-bottom: 1px solid rgb(100, 100, 100);
    padding-bottom: 1px;   
}

nav a {
    color: inherit;  /* or any other color you prefer */
    text-decoration: none;
}

